

body{

background-image: url("../img/background-img.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
}

.centred{

    margin: 0 auto; width: 70%;
}
.logo{


    max-width: 100%;
    height: auto;
    width: 15vh ;

}
.nav-config {

    z-index: 10;
    margin: 0 auto; width: 100%;
    position: fixed;
    left: 0;
    top: 0;
   
    font-size: 2vh;
  /*  height: 17vh; */
}
/* INDEX */
.jumbotron
{
    margin-bottom: 0;
    text-align: center;
    background-image: url("../img/footer.png");
 
}

.img-carusel{

   
    width: 400vh;
    height: 50vh;


}

.container-size-middle{
    
    margin-top: 5vh;
}
.container-size-top{
    margin-top: 15vh;
    padding-left: 0px;
    padding-right: 0px;
}
.container-size-top_mi{
    margin-top: 5vh;
    padding-left: 0px;
    padding-right: 0px;
}

.p-content-images{

    display: inline-table;

}
.img-middle{

    height: 32vh ;
    width: 100% ;
    max-width: 100%;
}

.footer-contact{

    color:white;
    margin-left: 2%;
}

footer {
    background-color: #75a3a3;
    padding-top: 2%;
    padding-bottom: 2%;
  
   
    
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }
  iframe{
    width: 35vh;
     height: 30vh;
     border:0;
  }

  /* NOSOTROS */

  .content-first{
    margin-top: 15vh;
    padding-top: 2VH;
    background-color: white;
    margin-bottom: 2vh;
    font-size: 2vh;
    margin-right: 0px; 
     margin-left: 0px

  }
  .menu-left{

    padding-left: 0px;
    padding-right: 0px;
}

 /* NOTICIAS */
  
.card-position
{

    margin-top: 10vh;;
    margin-bottom: 10vh;


}
.content-first-news{

    margin-top: 10vh;
    margin-bottom: 2vh;
}
  

    
